* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}


body {
    font-family: "Yantramanav", sans-serif;

}


a {
    text-decoration: none;
}

li {
    list-style: none;
}





.header {
    margin-top: 3rem;

    .allHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 20%;

            img {
                width: 90%;
            }
        }

        .searchInput {
            position: relative;
            width: 60%;

            .form {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                border: 1px solid #ccc;

                input {
                    width: 70%;
                    padding: 15px;
                    border: none;
                    outline: none;
                }

                .categories {
                    width: 25%;
                    padding: 15px;
                    border-left: 1px solid #ccc;
                    position: relative;

                    &:hover {
                        .dropdown {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0px);

                        }
                    }

                    .dropdown {
                        position: absolute;
                        background: #fff;
                        top: 100%;
                        left: 0;
                        width: 200px;
                        visibility: hidden;
                        transition: .3s ease-in-out;
                        opacity: 0;
                        transform: translateY(40px);
                        box-shadow: 0px 0px 20px 0px #cccccc;

                        ul {
                            li {
                                a {
                                    padding: 10px;
                                    display: block;
                                }
                            }
                        }
                    }

                    .selectCat {
                        color: #999494;
                    }
                }

                .searchIcon {
                    width: 5%;
                    padding: 15px;
                    border-left: 1px solid #ccc;

                    a {
                        color: #999494;
                    }
                }
            }
        }

        .icons {
            width: 20%;

            .content {
                position: relative;

                i {
                    margin-left: 20px;
                    font-size: 20px;
                    color: #454444;
                }

                a {
                    color: #454444;
                }

                .line {
                    position: absolute;
                    top: -13px;
                    right: 30px;
                    color: #fff;
                    background: #D12C2C;
                    border-radius: 100%;
                    padding: 3px 6.5px;
                    font-size: 9px;
                }

                .shuffle {
                    position: absolute;
                    bottom: 18px;
                    right: 100px;
                    color: #fff;
                    background: #D12C2C;
                    border-radius: 100%;
                    padding: 3px 6.5px;
                    font-size: 9px;
                }
            }
        }
    }
}



.bottomHeader {
    background: #D12C2C;
    width: 100%;
    margin-top: 2rem;

    .allContent {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftContent {
            ul {
                display: flex;

                li {
                    a {
                        padding: 20px;
                        display: block;
                    }
                }
            }
        }

        .rightContent {
            a {
                font-size: 12px;
            }

            .second {
                margin-right: 20px;
            }
        }

        a {
            color: #fff;
        }

        i {
            font-size: 10px;
            color: #ccc;
        }
    }
}


.slider {
    background-image: url(/src/images/slider/bg.jpg);
    background-repeat: no-repeat;

    .allContent {
        padding-top: 6rem;
        display: flex;
        align-items: center;

        .left {
            width: 50%;



            .fruits {
                color: #fff;
                line-height: 24px;
                font-size: 14px;
            }

            h4 {
                line-height: 40px;
                font-size: 50px;
                color: #fff;
            }

            .paragraf {
                color: #f8f5f5;
                width: 70%;
                margin-top: 2rem;
            }

            .btn {
                margin-top: 2rem;

                a {
                    color: #fff;
                    border: 2px solid #fff;
                    padding: 12px 15px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .right {
            width: 50%;
        }
    }
}


.infos {
    padding-bottom: rem;

    .allContent {
        // width: 90%;
        display: flex;
        // align-items: center;
        justify-content: center;
        // gap: 40px;

        .info {
            background: #fff;
            border: 1px solid #e7dedea6;
            padding: 50px;
            width: 30%;
            text-align: center;

            a {
                display: block;
            }

            .text {
                margin-top: 1rem;

                h4 {
                    color: #000;
                    font-size: 18px;
                }

                .bottom {
                    margin-top: 1rem;

                    p {
                        color: #454444;
                    }

                }
            }
        }
    }
}


.product {
    margin-top: 6rem;

    .topProduct {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
            margin-left: 30px;

            ul {
                display: flex;
                gap: 24px;
            }
        }

        span {
            font-size: 20px;
            font-weight: 500;
        }

        .left {
            display: flex;
            align-items: center;
        }

        .arrows {
            .allArrows {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }

    .products {
        display: flex;



        .oneProduct {
            position: relative;
            overflow: hidden;

            &:hover {
                .btnHover {
                    opacity: 1;
                    visibility: visible;
                }
            }

            text-align: center;
            width: 20%;

            img {
                width: 100%;
            }

            .textBottom {
                h3 {
                    a {
                        color: #000;
                    }
                }

                .description {
                    a {
                        color: #454444;
                    }
                }
            }

            &:hover {
                .btns {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .btns {
                position: absolute;
                opacity: 0;
                left: 33px;
                transition: .3s ease-in;

                bottom: 65px;
                transform: translateY(50px);
                // opacity: 0;

                .CartBtn {
                    width: 140px;
                    height: 40px;
                    border-radius: 12px;
                    border: none;
                    background-color: rgba(255, 208, 0, 0.578);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition-duration: .5s;
                    overflow: hidden;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
                    position: relative;
                }

                .IconContainer {
                    position: absolute;
                    left: -50px;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    z-index: 2;
                    transition-duration: .5s;
                }

                .icon {
                    border-radius: 1px;
                }

                .text {
                    height: 100%;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(17, 17, 17);
                    z-index: 1;
                    transition-duration: .5s;
                    font-size: 1.04em;
                    font-weight: 600;
                }

                .CartBtn:hover .IconContainer {
                    transform: translateX(58px);
                    border-radius: 40px;
                    transition-duration: .5s;
                }

                .CartBtn:hover .text {
                    transform: translate(10px, 0px);
                    transition-duration: .5s;
                }

                .CartBtn:active {
                    transform: scale(0.95);
                    transition-duration: .5s;
                }
            }

            &:hover {
                .rightContent {
                    transform: translateX(0px);
                }
            }

            .rightContent {
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 10px;
                border: 1px solid #ccc;
                padding: 0 10px;
                transform: translateX(60px);
                transition: .2s ease-in-out;


                i {
                    margin-top: 1rem;
                    color: #525151;
                }
            }
        }
    }
}

.wrapper {
    margin-top: 5rem;


    .allWrapper {
        cursor: pointer;
        display: flex;
        gap: 30px;
        align-items: center;

        .oneItem {
            position: relative;
            width: calc(50% - 30px);
            overflow: hidden;


            .left {

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    vertical-align: middle;
                    transform: scale(1);
                    transition: .3s ease-in;


                }


                .textInfo {
                    position: absolute;
                    top: 80px;
                    left: 20px;
                    width: 50%;

                    h4 {
                        color: #757373;
                    }

                    span {
                        color: #fff;
                        font-size: 37px;
                    }

                    p {
                        color: #fff;
                    }

                    .btn {
                        margin-top: 2rem;

                        a {
                            color: #fff;
                            background: #D12C2C;
                            padding: 12px 18px;
                        }
                    }
                }
            }

        }


        .right {
            width: calc(50% - 30px);

            img {
                width: 100%;
            }
        }
    }
}


.product2 {
    margin-top: 6rem;

    .topProduct {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
            margin-left: 30px;

            ul {
                display: flex;
                gap: 24px;
            }
        }

        span {
            font-size: 20px;
            font-weight: 500;
        }

        .left {
            display: flex;
            align-items: center;
        }

        .arrows {
            .allArrows {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;



        .oneProduct {
            position: relative;

            &:hover {
                .btnHover {
                    opacity: 1;
                    visibility: visible;
                }
            }

            text-align: center;
            width: 20%;

            img {
                width: 100%;
            }

            .textBottom {
                h3 {
                    a {
                        color: #000;
                    }
                }

                .description {
                    a {
                        color: #454444;
                    }
                }
            }

            &:hover {
                .btns {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .btns {
                position: absolute;
                opacity: 0;
                left: 50px;
                transition: .3s ease-in;

                bottom: 65px;
                transform: translateY(50px);
                // opacity: 0;

                .CartBtn {
                    width: 140px;
                    height: 40px;
                    border-radius: 12px;
                    border: none;
                    background-color: rgba(255, 208, 0, 0.578);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition-duration: .5s;
                    overflow: hidden;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
                    position: relative;
                }

                .IconContainer {
                    position: absolute;
                    left: -50px;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    z-index: 2;
                    transition-duration: .5s;
                }

                .icon {
                    border-radius: 1px;
                }

                .text {
                    height: 100%;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(17, 17, 17);
                    z-index: 1;
                    transition-duration: .5s;
                    font-size: 1.04em;
                    font-weight: 600;
                }

                .CartBtn:hover .IconContainer {
                    transform: translateX(58px);
                    border-radius: 40px;
                    transition-duration: .5s;
                }

                .CartBtn:hover .text {
                    transform: translate(10px, 0px);
                    transition-duration: .5s;
                }

                .CartBtn:active {
                    transform: scale(0.95);
                    transition-duration: .5s;
                }
            }
        }
    }
}


.popular {
    margin-top: 6rem;


    .topProduct {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 20px;
            font-weight: 500;
        }


        .arrows {
            .allArrows {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }



    .allPopular {
        gap: 24px;
        display: flex;

        .item {
            margin-top: 4rem;
            position: relative;
            width: 25%;
            border: 1px solid #e4e3e383;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                transition: .2s ease-in;
                width: 100%;
                transform: scale(1);
                vertical-align: middle;
            }

            &:hover {
                .text {
                    .overflowContent {
                        transform: translateY(0px);
                    }
                }
            }

            .text {
                position: absolute;
                bottom: 20px;
                left: 20px;




                .overflowContent {
                    position: absolute;
                    transform: translateY(40px);
                    overflow: hidden;
                    left: 0;
                    top: 0;
                    transition: .2s ease-in;

                }
            }

            &:hover {
                .hoverEffect {
                    transform: translateY(-40px);
                }
            }

            .hoverEffect {
                transform: translateY(0px);
                transition: .2s ease-in;
            }
        }
    }
}

.footer {
    .allFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    margin-top: 3rem;
    background: #373839;
    padding: 100px 0;
    color: #D7D7D7;

    .logo {

        width: 25%;

        .logoImg {

            img {
                width: 80%;
            }

        }

        .paraqraf {
            margin-top: 1rem;
        }

        .list {
            margin-top: 1rem;

            ul {
                li {
                    margin-top: 1rem;
                }
            }
        }
    }

    .items {
        .item {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 2rem;

            img {
                width: 100%;
            }

            a {
                display: block;
                align-items: center;
                color: #fff;
            }

        }
    }

    .allPosts {
        .post {
            width: 100%;

            .top {
                // margin-bottom: 40px;
            }
        }
    }

    .ourStores {
        display: flex;
        align-items: center;
        gap: 100px;
        justify-content: space-between;

        .first {
            a {
                color: silver;
                margin-top: 10px;
                display: block;
            }
        }
    }
}